/***style.css***/

/* #region CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #endregion */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #596d48;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
}

button:hover {
  background-color: #3e5729;
}

@font-face {
  font-family: "norsebold";
  src: url("./assets/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
  margin: 0;
}

.left {
  background-image: url("./assets/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left a {
  color: white;
}

.left p {
  margin-bottom: 30px;
  font-size: 0.8rem;
}

.odin {
  font-family: norsebold, sans-serif;
  font-size: 7rem;
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.5);
  width: 38vw;
  padding: 10px;
  margin-top: 20vh;
}
.banner img {
  height: 150px;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.odin-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.form-row {
  font-size: 1rem;
  text-align: center;
}

.right p {
  font-size: 1.5rem;
  font-weight: 600;
}

.right > .login {
  font-size: 1rem;
}
